@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Southern Clinic</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Southern Clinic</h2>
        <p>
            Southern Clinic is a fake Clinic created by Daniel Bekker, Aaron Gordon, Joselin Trujillo and Crystal Byrd. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Goal</h2>
        <p>Southern Clinic'sgjeaoijgrrrrrrrrrrrrrrrr'</p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
    </div>
</div>
